* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Container */

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 50px;
}

/* Navigation Bar */
.navbar {
  background-color: #fff;
  color: #022542;
  padding: 30px 0;
  border: #000 solid 1px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-logo a {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: auto;
  width: 70%;
}

/* Navigation Links */
.navbar-links {
  display: flex;
}

.navbar-links a {
  margin-left: 40px;
  color: #022542;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: 900;
}

.navbar-links a:hover {
  color: #ff0000;
}

/* Main Content */
.main-content {
  width: 100%;
  height: calc(100vh - 65px);
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  box-sizing: border-box;
  color: #022542;
}

.main-content .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-content .col {
  flex: 1;
  min-width: 300px;
  box-sizing: border-box;
}

.content-text {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  align-items: center;
  justify-content: center;
}

.content-text .large-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-size: 110px;
  text-transform: uppercase;
}

.content-text .medium-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ff0000;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

.content-text .small-text p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Piazzolla", serif;
  width: 75%;
  text-align: justify;
  font-weight: 700;
}

.content-image img {
  width: 80%;
  height: calc(100vh - 65px);
  display: block;
  float: right;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #022542;
  color: #fff;
  font-family: "Hammersmith One", sans-serif;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #ff0000;
}

/* Footer Section */
.footer {
  background-color: #ff0000;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.footer p {
  margin: 0;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer a:hover {
  text-decoration: underline;
}

.divider-img {
  width: 100%;
}

.mobile-nav-before {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 2px #000 solid;
  /* background-color: #ff0000; */
}

.nav-container {
  /* background-color: #022542; */
  display: flex;
  justify-content: center;
}

.mobile-nav-before p {
  font-size: 25px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
}

.mobile-nav-before a {
  font-size: 25px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #022542;
}

.extra-space {
  padding: 30px 0;
}

#mobileNav {
  padding: 20px 0;
  background-color: none;
  background-image: url("../images/mobile-nav-bg.png");
  background-size: auto 100%;
  display: none;
  height: 100vh;
}

#mobile-nav-before {
  padding: 20px 0;
  display: none;
}

#humberger img {
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  #desktopView {
    display: none;
  }

  #mobileView {
  }

  #mobile-nav-before {
    border-bottom: 2px #000 solid;
  }

  #mobile-nav-before .mobile-nav-before {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    padding: 0px;
    border-bottom: none;
  }

  #mobile-nav-before {
    display: flex;
  }

  .navbar-logo img {
    height: auto;
    width: 50%;
  }

  .main-content {
    /* height: auto; */
    padding: 0 0 50px 0;
  }

  .main-content .home-container {
    padding-left: 30px;
  }

  .main-content .row {
    flex-direction: column;
    /* text-align: center; */
  }

  .content-image img {
    width: 100%;
    margin: 0 auto;
  }

  .content-text .large-text h1 {
    font-size: 48px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: start;
  }

  .content-text .medium-text h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #ff0000;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: start;
  }

  .content-text .small-text p {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Piazzolla", serif;
    /* text-align: center; */
    font-weight: 700;
    color: #022542;
    width: 100%;
    padding-right: 20px;
    width: 70%;
    text-align: start;
  }

  .btn {
    padding: 5px 10px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    font-weight: 400;
  }

  .content-image {
    display: none;
  }

  .divider-img {
    /* width: auto; */
    height: 50px;
    object-fit: cover;
  }

  .footer p {
    font-size: 12px;
  }

  .footer a {
    font-size: 14px;
  }

  .footer {
    background-color: #ff0000;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }

  .navbar-logo img {
    height: auto;
    width: 80%;
  }
}
